<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Angular Routing</span>
    <span class="example-spacer"></span>
    <a mat-button class="example-icon favorite-icon" routerLinkActive="active" routerLink="/home">
      Home
    </a>
    <a mat-button routerLinkActive="active" routerLink="/admin">
      Admin
    </a>
    <a mat-button routerLink="/post" routerLinkActive="active">
      Posts</a>
    <a mat-button routerLink="/books">Books</a>
  </mat-toolbar>
</p>
